poot:
	route: poot
	alias: aaa

api:
	route: api/
	middleware:
		- json_encode

	v1:
		route: v1/

		show:
			route: "data(/:id)"
			method: GET
			callable:
				- \Mo\Router\Router
				- generate
			conditions:
				id: \d+
			defaults:
				id: 12

		aaa:
			route: plain
			alias: show